$color_1: #000000;
$color_2: #FFFFFF;
$color_3: #cd1f07;
$color_4: #F5F5F5;
$color_5: #E65523;
$color_6: #4AB354;
$font-family_1: "Lato", sans-serif;

#es-rc {
	#es-rc-content {
		font-family: $font-family_1;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		max-width: 990px;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		color: $color_1;
		background-color: $color_2;

		* {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		p {
			margin: 0;
		}

		img {
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}

		span {
			font-weight: 900;
		}

		sup {
			vertical-align: top;
			font-size: 9px;
		}

		.es-kv {
			&__desktop {
				display: none;
				margin-bottom: 30px;
			}

			&__mobile {
				margin-bottom: 30px;
			}
		}

		.es-product {
			margin-bottom: 30px;

			&__img-wrapper {
				position: relative;
			}

			&__label {
				position: absolute;
				padding: 5px;
				bottom: 20%;
				font-weight: 600;
				font-size: 16px;
				text-transform: uppercase;
				text-align: center;
				color: #fff;
				background-color: $color_3;

				&--1 {
					left: 1%;
				}

				&--2 {
					right: 1%;
				}
			}

			&__text-label {
				display: inline-block;
				padding: 5px 10px;
				margin: 0 auto;
				margin-bottom: 10px;
				font-weight: 600;
				font-size: 18px;
				text-transform: uppercase;
				text-align: center;
				color: #fff;
				background-color: $color_3;
			}

			&__wrapper {
				position: relative;
			}

			&__img {
				position: relative;
				z-index: 0;
				display: none;
			}

			&__text {
				z-index: 1;
				font-weight: 700;
				padding: 20px 15px;
				text-align: center;
			}

			&__text-1 {
				font-size: 22px;
				line-height: 1.4;
				margin-bottom: 20px;

				&--light {
					font-weight: 500;
				}
			}

			&__text-2 {
				font-size: 25px;
				text-transform: uppercase;
				margin-bottom: 8px;
			}

			&__text-3 {
				margin-bottom: 15px;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.3;
			}

			&__link {
				padding: 5px 20px;
				font-size: 16px;
				background-color: $color_1;
				color: $color_2;
				text-transform: uppercase;
				text-decoration: none;
				border-radius: 5px;
			}
		}


		.es-background-orange {
			background-color: $color_5;
			padding: 0 4px;
			font-weight: 700;
		}

		.es-ba {
			&__wrapper {
				position: relative;

			}

			&__label {
				position: absolute;
				top: 10%;
				padding: 5px 20px;
				font-weight: 600;
				font-size: 16px;
				text-transform: uppercase;
				text-align: center;
				color: #fff;
				background-color: $color_3;

				&--1 {
					left: 10%;
				}

				&--2 {
					right: 10%;
				}
			}

			&__step {
				padding: 20px;
				background-color: #510b08;
			}

			&__step-title {
				margin-bottom: 20px;
				font-size: 20px;
				font-weight: 600;
				color: $color_2;
				text-transform: uppercase;
			}

			&__step-item-subtitle {
				display: inline-block;
				margin-bottom: 10px;
				padding: 10px;
				font-size: 20px;
				font-weight: 700;
				background-color: #fff;
				color: #bf001a;
				text-transform: uppercase;

				&--big {
					margin-bottom: 5px;
					font-weight: 600;
					font-size: 35px;
					text-transform: uppercase;
					color: $color_2;
					background-color: none;
				}
			}

		}


		.es-routine {
			position: relative;

			&__number {
				position: absolute;
				top: 0%;
				font-weight: 500;
				font-size: 25px;
				text-transform: uppercase;
				color: $color_2;

				&--1 {
					left: 10%;
				}

				&--2 {
					left: 42%;
				}

				&--3 {
					right: 18%;
				}
			}

			&__link {
				position: absolute;
				font-weight: 600;
				font-size: 10px;
				text-transform: uppercase;
				top: 32%;
				padding: 5px 10px;
				color: $color_2;
				background: $color_1;
				border-radius: 5px;
				text-transform: uppercase;
				text-decoration: none;

				&--1 {
					left: 3%;
				}

				&--2 {
					left: 35%;
				}

				&--3 {
					right: 7%;
				}
			}

			&__left {
				padding: 20px;
				color: $color_2;
				background: #a40809;
			}

			&__title {
				margin-bottom: 20px;
				font-weight: 400;
				font-size: 20px;
				text-transform: uppercase;
				color: $color_2;
			}

			&__list-item-step {
				max-width: 100px;
				padding: 5px 10px;
				text-align: center;
				font-weight: 600;
				font-size: 25px;
				text-transform: uppercase;
				color: #bf001a;
				background-color: $color_2;
				border-radius: 2px;
			}

			&__list-group {
				display: flex;
				column-gap: 10px;
				align-items: center;
				margin-bottom: 10px;
			}

			&__list-item-number {
				margin-top: -10px;
				font-weight: 600;
				font-size: 60px;
				text-transform: uppercase;
			}

			&__list-item-description {
				margin-bottom: 20px;
			}
		}

		.es-main {
			background-color: #1A0808;

			&__left {
				padding: 20px;
			}

			&__title {
				color: $color_2;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 20px;
			}

			&__subtitle {
				margin-bottom: 20px;
				color: $color_2;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 14px;
			}
		}

		.es-regen {

			&__right {
				padding: 30px;
				background-color: #A60E11;
			}

			&__title {
				margin-bottom: 15px;
				color: $color_2;
				font-weight: 600;
				font-size: 18px;
				text-transform: uppercase;

				span {
					font-weight: 400;
				}
			}
		}

		.es-top {
			margin-bottom: 60px;

			&__wrapper {
				position: relative;
			}

			&__img {
				display: none;
			}

			&__text {
				font-weight: 900;
				text-transform: uppercase;
				text-align: center;
				margin-top: 20px;

				&-2--black {
					padding: 2px;
					background-color: $color_1;
					color: $color_2;

				}

				& span {
					font-weight: 500;

					& sup {
						font-size: 8px;
						font-weight: 300;
						vertical-align: text-top !important;
					}
				}
			}

			&__text-1 {
				color: $color_2;
				font-size: 70px;
				background-color: #ae1d0e;
				width: fit-content;
				padding: 0 20px;
				border-radius: 25px;
				margin-bottom: 15px;
				margin-left: auto;
				margin-right: auto;
			}

			&__image {
				max-width: 160px;
				margin-top: 40px;
				margin-bottom: 20px;
			}

			&__text-small {
				font-size: 25px;
				text-transform: none;
			}

			&__text-2 {
				font-weight: 400;
				font-size: 16px;
				margin-bottom: 10px;

				&--bold {
					font-weight: 900;
				}
			}

			&__text-3 {
				font-weight: 700;
				font-size: 22px;
				margin-bottom: 10px;
			}
		}


		.es-faq {
			padding-bottom: 30px;

			&__title {


				margin: 0 auto;
				margin-left: 15px;
				margin-bottom: 40px;
				font-size: 20px;
				color: inherit;
			}

			.es-accordion {
				margin: 0 auto;
				max-width: 1170px;
				padding-left: 15px;
				padding-right: 15px;

				&__element {
					margin: 0 auto;
					margin-bottom: 20px;
					border: none;
				}

				&__element-content {

					margin: 0;
					padding: 0;
					font-size: 13px;
					background-color: #f4f4f4;
					color: #000;
					overflow: hidden;
					margin-top: -25px;
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 10px;
					max-height: 0;
					-webkit-transition: max-height 0.5s ease-out;
					transition: max-height 0.5s ease-out;
					border-radius: 10px;
				}

				&__title {
					line-height: inherit;
					position: relative;
					padding: 17px 50px 17px 15px;
					font-size: 14px;
					color: #fff;
					-webkit-transition: all 200ms ease-out;
					transition: all 200ms ease-out;
					cursor: pointer;
					background: #BF001A;
					border-radius: 10px;
					z-index: 1;
					position: relative;
				}

				.es-acc-tab:before {
					content: '';
					display: block;
					position: absolute;
					width: 35px;
					height: 19px;
					top: 35%;
					right: 2%;
					background: url(../images/plus.png) 50% 50% no-repeat;
					color: #fff;
					text-align: center;
					line-height: 50px;
					-webkit-transition: all 200ms ease-out;
					transition: all 200ms ease-out;
					transform: rotate(180deg);
				}

				.es-acc-tab.active:before {
					background: url(../images/plus.png) 50% 50% no-repeat;
					-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
				}

				&>div:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		.es-footer {
			margin-bottom: 60px;
			padding: 0 10px;
		}

		.es-footer__single {
			font-size: 12px;
			margin-bottom: 3px;
		}
	}
}

@media screen and (min-width: 576px) {
	#es-rc {
		#es-rc-content {
			.es-kv__desktop {
				display: block;
			}

			.es-kv__mobile {
				display: none;
			}

			.es-product__img {
				display: block;
			}

			.es-product__img-mobile {
				display: none;
			}

			.es-product__text {
				position: absolute;
				left: 2%;
				top: 50%;
				transform: translateY(-50%);
				width: 48%;
				padding: 0;
				text-align: left;
			}

			.es-product__text-1 {
				font-size: 19px;
				margin-bottom: 10px;
			}

			.es-product__text-2 {
				font-size: 19px;
				margin-bottom: 8px;
			}

			.es-product__text-3 {
				font-size: 17px;
				line-height: 1.2;
			}

			.es-top__img {
				display: block;
			}

			.es-top__img-mobile {
				display: none;
			}

			.es-top__text {
				width: 60%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				text-align: left;
				margin-top: 0;
			}

			.es-top__image {
				margin-left: 0;
				margin-bottom: 20px;
			}

			.es-top__text-1 {
				margin-left: unset;
				margin-right: unset;
			}

			.es-footer {
				padding: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	#es-rc {
		#es-rc-content {

			.es-product__text-1 {
				font-size: 22px;
				margin-bottom: 30px;
			}

			.es-product__text-2 {
				font-size: 25px;
				margin-bottom: 10px;
				line-height: 1.3;
			}

			.es-product__text-3 {
				font-size: 16px;
			}
		}
	}
}

@media screen and (min-width: 890px) {
	#es-rc {
		#es-rc-content {
			.es-top__text {
				width: 40%;
			}

			.es-top__text-1 {
				font-size: 90px;
				margin-bottom: 75px;
			}

			.es-top__text-small {
				font-size: 40px;
			}

			.es-top__text-2 {
				font-size: 26px;
				margin-bottom: 5px;
			}

			.es-top__text-3 {
				font-size: 27px;
				margin-bottom: 15px;
			}
		}
	}
}

@media screen and (min-width: 990px) {
	#es-rc {
		#es-rc-content {
			// .es-cross__wrapper {
			// 	justify-content: space-between;
			// }
		}
	}
}